You're request to join course approved: <%= @course.title %>!
===============================================
<br>
Course Details:
--------------------------
<br>
<p>
  Name: <%= @course.title %>
</p> <br>
<p>
Email: <%= @course.teacher_name %>
</p>
